{
    "_HWname": [
        "module path",
        "class name or fn entry point",
        "dispatch fn or null if direct call"
    ],
    "_PulseBlaster": [
        "PulseBlaster._PulseBlaster",
        "PulseBlaster",
        null
    ],
    "_wavemeter": [
        "Wavemeter.Wavemeter",
        "wavemeter",
        "SendCommand"
    ],
    "_msquared.SE": [
        "MSquared.SElaser",
        "LaserWrapper",
        "dispatch"
    ],
    "_msquared.NW": [
        "MSquared.NWlaser",
        "LaserWrapper",
        "dispatch"
    ],
    "_velocitylaser": [
        "NewFocusLaser.Laser",
        "laser",
        null
    ],
    "_superk": [
        "SuperK.superk",
        "superk",
        null
    ],
    "_teensy": [
        "Teensy.teensy",
        "teensy",
        null
    ]
}
